/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base styles */
body {
    font-family: 'Poppins', sans-serif;
    color: #333;
}

header {
    background: url('./src/image/2.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem;

}

.hero h1 {
    font-size: 4rem;
}

.hero p {
    font-size: 1.2rem;
}

main {
    padding: 2rem;
}

.check-availability {
    text-align: center;
    margin-bottom: 2rem;
}

.check-availability form {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.about-us, .rooms, .testimonials, .blog, .contact {
    margin-bottom: 4rem;
}

.rooms .room-types {
    display: flex;
    gap: 2rem;
}

.blog-posts {
    display: flex;
    gap: 2rem;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background: #333;
    color: #fff;
}

.footer-left, .footer-right {
    display: flex;
    flex-direction: column;
}

.footer-right {
    text-align: right;
}
